<div class="sidenav">
    <div class="logo">
        <h2>💊 MediCare</h2>
        <p>Admin Dashboard</p>
    </div>
    <div class="menu-principal">
        <h3>📋 MENU PRINCIPAL</h3>

        <div class="menu-item">
            <span>📊 Tableau de bord</span>
        </div>
        <div class="menu-item" (click)="toggleUsers()">
            <span>👤 Utilisateurs</span>
        </div>

        <div class="submenu" *ngIf="showUsers">
            <div class="submenu-item">
                <span>📋 Liste des utilisateurs</span>
            </div>
        </div>
        <div class="menu-item" (click)="togglePatients()">
               <span>👥 Patients</span>
        </div>

        <div class="submenu" *ngIf="showPatients">
            <div class="submenu-item">
                <span>📋 Liste des patients</span>
            </div>
        </div>
        <div class="menu-item" (click)="toggleRappel()">
            <span>🔔 Historique des Rappels & Notifications</span>
        </div>

        <div class="submenu" *ngIf="showRappel">
            <div class="submenu-item">
                <span>💊 Prise</span>
            </div>

            <div class="submenu-item">
                <span>📅 Rendez-vous</span>
            </div>
        </div>

        <div class="menu-item">
            <span>🖐️ Historique des Reconnaissance</span>
        </div>

        <div class="menu-item">
            <span>📈 Rapports & Statistiques</span>
        </div>

        <div class="menu-item">
            <span>🏷️ Catégories d'oubli</span>
        </div>

        <div class="menu-item">
            <span>⚙️ Paramètres</span>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="menu-footer">
        <div class="menu-item">
            <span>🚪 Déconnexion</span>
        </div>
    </div>

</div>